form{
    max-height: 50vh;
display: flex;
flex-direction: column;

div{
    margin-bottom: 1rem;
 label{
        font-weight: bolder;
        display: inline-block;
        width: 100px;
        text-align: right;
        margin-right: 1rem;
 }
button{
    margin-left: 2rem;
}
    }
    
}